@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html,
body{
  height:100%;
}
body{
  width:100%;
  margin:0;
  background: url("back.jpg") no-repeat center bottom fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
main{
  height:100%;
  Width:100%;
  display:flex;
  justify-content: center;
}
.center-wrapper{
height:50%;
width:50%;
margin:auto;
text-align: center;
}
h1{
  font-family:'Julius Sans One', 'sans-serif';
  color:#fff;
  font-size:1.99em;
  margin-bottom: 0;
}
p{
  margin-top:0.2em;
  color:#ecf0f1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1em;
}

#timer{
}
#timer-days,#timer-hours,#timer-minutes,#timer-seconds{
  color:#fff;
  font-size:1.99em;
  display: inline-block;
  margin:0.25em;
  font-family: 'Roboto',sans-serif;
}
.days,.hours,.minutes,.seconds{
  font-size:0.3em;
  display: block;
  color:#ecf0f1;

}
